p {
    color: red;
    text-align: center;
}

#hone {
    color:red;
    text-align:center;
}

.center {
    text-align: center;
    /*make sure to belajar more otodidak*/
    color: red;
}

div {
    width: 300px;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
}